@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
:root {
  --primary: #3f393b;
  --sec: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #a9bcf4 0%, #f6a1b6 100%);
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.hero{
  height: 90vh;
}
.hero__bg {
  background-image: url("../images/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 70%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.intersect {
  background-image: url("../images/Intersect.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  position: relative;
}
.logo__div{
  margin-left: 4%;
}
.logo {
  width: 60px;
}

.nav-links li {
  list-style: none;
}

.nav-links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  color: var(--primary);
  text-decoration: none;

  font-family: Montserrat;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}
.burger {
  display: none;
}
.social__icons{
  position: absolute;
  bottom: 4%;
  right: 2%;
}
.icon__list {
  display: flex;
  justify-content: flex-end;
}
.icon{
  width: 70%;
}
.container{
  margin: 0 4%;
  padding-top: 8vw;
  height: 85vh;
}
.main__head{
  width:70%;
}
.rect {
  width: 30vw;
  height: 2.6vh;
  background-color: var(--primary);
  z-index: 10;
  border-radius: 20px;
}

.main__head h1 {
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 1.3;
  color: #3f393b;
  padding: 1rem 0;
}
.main__head h1 span{
  padding:0 0.5rem;
  border-radius: 10px;
  font-size: 4.5rem;
  color: white;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 10px 10px #333);
  background-color: #3f393b;
}
.main__head p {
  width: 80%;
  font-size: 1rem;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.045em;
  color: #3f393b;
  padding: 0 0.5rem 2rem 0;
}

.main__head a {
  padding: 0.7rem 3.5rem;
  background-color: var(--primary);
  color: var(--sec);
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main__head a:hover {
  background-color: var(--sec);
  color: var(--primary);
  -webkit-box-shadow: 0px 2px 4px var(--primary);
          box-shadow: 0px 2px 4px var(--primary);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
  opacity: 0;
  transform: translateX(60px);
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -6px)
}


/* Products */
.products{
  height: 100vh;
  padding: 2rem;
}
.sub__head{
  text-align: center;
  font-family: 'Niconne',sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.pcards{
  background-color: var(--sec);
  margin-right: 20px;
  padding:1rem;
  border-radius: 10px;
}
.swiper-container {
  width: 80vw;
  height: 300px;
}
.pimg{
  width:100%;
  height: auto;
}
/* Products */

@media screen and (max-width:1024px) {
  .hero__bg {
    background: url("../images/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  nav {
      position: sticky;
      top: 0;
      justify-content: space-between;
      height: 10vh;
      align-items: center;
  }
  .logo__div{
    margin-left: 5%;
  }
  .nav-links {
      position: fixed;
      right: 0;
      height: 100vh;
      top: 0vh;
      background: linear-gradient(90deg, #a9bcf4 0%, #f6a1b6 100%);
      width: 100%;
      flex-direction: column;
      align-items: center;
      transform-origin: right;
      transform: scaleX(0);
      transition: 0.5s ease-in;
      z-index: 99;
      justify-content: space-evenly;
  }
  .nav-links li {
      opacity: 0;
  }
  .burger div {
    height: 4px;
    width: 35px;
    background: var(--sec);
    margin: 7px;
    transition: all 0.5s ease;
    border-radius: 5px;
  }  
  .burger {
    position: absolute;
    right: 0%;
    margin-right: 5%;
      display: block;
      cursor: pointer;
      z-index: 99;
  }
  .nav-active {
      transform: scaleX(1);
  }
  .social__icons{
    display: none;
  }

  .container{
    padding-top: 20vw;
  }
  .main__head{
    width: 80%;
  }
  .rect {
    width: 50vw;
    height: 1.8vh;
    background-color: var(--primary);
    z-index: 10;
    border-radius: 20px;
  }
  
  .main__head h1 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.3;
    color: #3f393b;
    padding: 1rem 0;
  }
  .main__head h1 span{
    padding:0 0.5rem;
    border-radius: 10px;
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 10px 10px #333);
    background-color: var(--primary);
  }
  .main__head p {
    width: 80%;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.045em;
    color: var(--primary);
    padding: 0 0.5rem 2rem 0;
  }
  


}
@media screen and (max-width:768px) {
  .hero__bg {
    background-image: url("../images/bg.png");
    background-size: 150% 100%;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  .main__head{
    width: 100%;
  }
  .rect {
    width: 50vw;
    height: 1.8vh;
    background-color: var(--sec);
    z-index: 10;
    border-radius: 20px;
  }
  
  .main__head h1 {
    font-weight: 600;
    font-size: 5vw;
    line-height: 1.3;
    color: var(--sec);
    padding: 1rem 0;
  }
  .main__head h1 span{
    padding:0 0.5rem;
    border-radius: 10px;
    font-size: 10vw;
    color: white;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 10px 10px #333);
    background-color: #3f393b;
  }
  .main__head p {
    width: 80%;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.045em;
    color: var(--sec);
    padding: 0 0.5rem 2rem 0;
  }
  
}
@media screen and (max-width:480px) {
  .container{
    padding-top: 35vw;
  }
  .burger div {
    height: 3px;
    width: 25px;
    background: var(--sec);
    margin: 5px;
    transition: all 0.5s ease;
  }  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
    transform: translateX(60px);
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px)
  }
}
@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(100px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

