@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
:root {
  --primary: #3f393b;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #a9bcf4 0%, #f6a1b6 100%);
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.hero__bg {
  background-image: url("../images/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 70%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.intersect {
  background-image: url("../images/Intersect.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
}

.logo {
  width: 60px;
}

.nav-links li {
  list-style: none;
}

.nav-links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  color: var(--primary);
  text-decoration: none;

  font-family: Montserrat;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.burger div {
  height: 4px;
  width: 35px;
  background: #fff;
  margin: 7px;
  transition: all 0.5s ease;
}

.burger {
  display: none;
}
.icon__list {
  display: flex;
  gap:0.4em
}
.icon{
  width: 85%;
}
.container{
  margin: 0 4%;
  padding-top: 5%;
  height: 85vh;
}
.main__head{
  width: 60%;
}
.rect {
  width: 35vw;
  height: 2.6vh;
  background-color: var(--primary);
  z-index: 10;
}

.main__head h1 {
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 1.3;
  color: #3f393b;
  padding: 1rem 0;
}

.main__head p {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.045em;
  color: #3f393b;
  padding: 0 0.5rem 2rem 0;
}

.main__head a {
  padding: 0.7rem 3.5rem;
  background-color: var(--primary);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main__head a:hover {
  background-color: #fff;
  color: var(--primary);
  -webkit-box-shadow: 0px 2px 4px var(--primary);
          box-shadow: 0px 2px 4px var(--primary);
}
.social__icons{
  position: absolute;
  bottom: 5%;
  right: 5%;
}
@media screen and (max-width:1024px) {
  nav {
      position: sticky;
      top: 0;
      justify-content: space-between;

  }
  .logo{
    margin-left: 5%;
  }
  .nav-links {
      position: absolute;
      right: 0;
      height: 100vh;
      top: 0vh;
      background: linear-gradient(90deg, #a9bcf4 0%, #f6a1b6 100%);
      width: 100%;
      flex-direction: column;
      align-items: center;
      transform: translateX(-100%);
      transition: 0.5s ease-in;
      z-index: 99;
    justify-content: space-evenly;
  }
  .nav-links li {
      opacity: 0;
  }
  .burger {
    position: absolute;
    top: 30%;
    right: 5%;
    margin-right: 5%;
      display: block;
      cursor: pointer;
      z-index: 99;
  }
  .nav-active {
      transform: translateX(0%);
  }
  .social__icons{
    display: none;
  }




  .container{
    margin: 0 5%;
    padding-top: 16%;
  }
  .main__head{
    width: 80%;
  }
  .rect {
    width: 50vw;
    height: 1.8vh;
    background-color: var(--primary);
    z-index: 10;
  }
  
  .main__head h1 {
    font-weight: 600;
    font-size: 1.85rem;
    line-height: 1.3;
    color: #3f393b;
    padding: 1rem 0;
  }
  
  .main__head p {
    font-size: 1rem;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.045em;
    color: #3f393b;
    padding: 0 0.5rem 2rem 0;
  }
  
  .main__head a {
    padding: 0.7rem 3.5rem;
    background-color: var(--primary);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 2rem;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  
  .main__head a:hover {
    background-color: #fff;
    color: var(--primary);
    -webkit-box-shadow: 0px 2px 4px var(#fff);
            box-shadow: 0px 2px 4px var(#fff);
  }


}
@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
  opacity: 0;
  transform: translateX(60px);
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -6px)
}